$secondary-main: #00c853;

#logo {
  color: $secondary-main !important;
}

#main-container {
  max-width: 1366px;
}

#list-container {
  max-width: 685px;
  width: 100%;
}

#add-button-container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.centered {
  margin: auto;
}

.done {
  text-decoration: line-through;
}

.input-editing {
  width: 100%;
}

.todo {
  display: block;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
