#main-container {
  max-width: 1366px;
}

#list-container {
  max-width: 685px;
  width: 100%;
}

#add-button-container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.centered {
  margin: auto;
}
